@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,300,300italic");

nav.toolbar {
  background: #666;
  color: #eee;
  padding: 10px;
  font-size: 18px;

  a {
    color: #fff;
    text-decoration: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #555;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}
